<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserList</title>
    
</head >
<body>
    <h1>UserList</h1>
    <ul>
        <%
        var list = '';
        for(user of userlist){
            list += '<li><a href="#" onclick="showUser(\''+user._id+'\')">' + user.username + '</a>';
            list += '<span style="margin-left:20px"><a href="#" onclick="updateUser(\''+user._id+'\')">Update</a></span>';
            list += '<span style="margin-left:20px"><a href="/users/deleteuser/' + user._id + '")>Delete</a></span>';
            list += '</li>';
        }
        %>
        <%- list %>
    </ul>
    <form action="/users/adduser" method="post">
        <input id="inputUserName" type="text" name="username" placeholder="Username" required>
        <input id="inputUserEmail" type="email" name="useremail" placeholder="Email" required>
        <input id="inputUserFullName" type="text" name="userfullname" placeholder="Full Name">
        <input id="inputUserAge" type="number" name="userage" placeholder="Age">
        <input id="inputUserLocation" type="text" name="userlocation" placeholder="Location">
        <select name="usergender" id="inputUserGender">
            <option value="">--Please choose a gender --</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="other">other</option>
        </select>

        <input id="inputActionType" type="hidden" name="actiontype" value="add">
        <input id="inputUpdateId" type="hidden" name="updateid" value="">

        <button type="submit">Submit</button>

        </form>

        <div id="showUser" style="width: 20%; float: left; display: none">
            <strong>Name :</strong> <span id="userInfoName"></span>
            <br>
            <strong>Age :</strong> <span id="userInfoAge"></span>
            <br>
            <strong>Gender :</strong> <span id="userInfoGender"></span>
            <br>
            <strong>Location :</strong> <span id="userInfoLocation"></span>
            <br>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
            function updateUser(id){
                fetch(`/users/${id}`)
                .then(response => response.json())
                .then(response => 
                    {
                        document.getElementById('inputUserName').value = response.username
                        document.getElementById('inputUserEmail').value = response.email
                        document.getElementById('inputUserFullName').value = response.fullname
                        document.getElementById('inputUserAge').value = response.age
                        document.getElementById('inputUserLocation').value = response.location
                        document.getElementById('inputUserGender').value = response.gender

                        document.getElementById('inputActionType').value = "edit"
                        document.getElementById('inputUpdateId').value = response._id
                        document.getElementById('inputUserName').focus()
                    }
                )
                .catch(error => alert("Erreur : " + error));
            };
            function showUser(id){
                fetch(`/users/${id}`)
                .then(response => response.json())
                .then(response => 
                    {
                        document.getElementById('userInfoName').textContent = response.fullname
                        document.getElementById('userInfoAge').textContent = response.age
                        document.getElementById('userInfoGender').textContent = response.gender
                        document.getElementById('userInfoLocation').textContent = response.location
                        document.getElementById('showUser').style.display = "block"
                    }
                )
                .catch(error => alert("Erreur : " + error));
            };
        </script>
</body>

</html>