<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserList</title>
    
</head >
<body>
    <h1>UserList</h1>
    <ul>
        <%
        var list = '';
        for(user of userlist){
            list += '<li><a href="#" onclick="showUser(\''+user._id+'\')">' + user.username + '</a>';
            list += '<span style="margin-left:20px"><a href="#" onclick="updateUser(\''+user._id+'\')">Update</a></span>';
            list += '<span style="margin-left:20px"><a href="/users/deleteuser/' + user._id + '")>Delete</a></span>';
            list += '</li>';
        }
        %>
        <%- list %>
    </ul>
    <form action="/users/adduser" method="post">
        <input id="inputUserName" type="text" name="username" placeholder="Username" required>
        <input id="inputUserEmail" type="email" name="useremail" placeholder="Email" required>
        <input id="inputUserFullName" type="text" name="userfullname" placeholder="Full Name">
        <input id="inputUserAge" type="number" name="userage" placeholder="Age">
        <input id="inputUserLocation" type="text" name="userlocation" placeholder="Location">
        <select name="usergender" id="inputUserGender">
            <option value="">--Please choose a gender --</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="other">other</option>
        </select>

        <input id="inputActionType" type="hidden" name="actiontype" value="add">
        <input id="inputUpdateId" type="hidden" name="updateid" value="">

        <button type="submit">Submit</button>

        </form>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
            function editer(dataUser){
                document.getElementById('inputUserName').value = dataUser.username
                document.getElementById('inputUserEmail').value = dataUser.email
                document.getElementById('inputUserFullName').value = dataUser.fullname
                document.getElementById('inputUserAge').value = dataUser.age
                document.getElementById('inputUserLocation').value = dataUser.location
                document.getElementById('inputUserGender').value = dataUser.gender

                document.getElementById('inputActionType').value = "edit"
                document.getElementById('inputUpdateId').value = dataUser._id
                document.getElementById('inputUserName').focus()

            }
            function updateUser(id){
                fetch(`/users/${id}`)
                .then(response => response.json())
                .then(response => editer(response))
                .catch(error => alert("Erreur : " + error));
                // $.ajax({
                //     url:"/users/"+id,
                //     cache:false
                // })
                // .done(function(json){
                //     if(json!=null){
                //         $('#inputUserName').val(json.username);
                //         $('#inputUserEmail').val(json.mail);
                //         $('#inputUserFullName').val(json.fullname);
                //         $('#inputUserAge').val(json.age);
                //         $('#inputUserLocation').val(json.location);
                //         $('#inputUserGender').val(json.gender);

                //         $('#inputActionType').val("edit");
                //         $('#inputUpdateId').val(id);
                //         $('#inputUserName').focus();
                //     }
                // }
                // )
            };
            function showUser(id){
                // $ajax({
                //    url:"/users/"+id,
                //    cache: false
                // })
                //     .done(function(json)){
                //         if(json1=null){
                //             $('#userInfoName').html(json.fullname);
                //             $('#usreInfoAge').html(json.age);
                //             $('#userInfoGender').html(json.gender);
                //             $('#userInfoLocation').html(json.location);
                //         }
                //     }
            };
        </script>
</body>

</html>